.mainNav{
    display: flex;   
    position: fixed;
    width: 100% ;
    justify-content: space-between;
    padding: 30px;
}


.mainNav *{
    background: none;
    border: none;
    color: #FF7800;
    font-size: 1.5rem;
    padding: 0;
    z-index: 20;
}

.profileNav{
    align-self: flex-end;
}